name: Docker Build and Push

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  find-images:
    runs-on: ubuntu-latest
    outputs:
      base-version: ${{ steps.get-versions.outputs.base-version }}
      python-versions: ${{ steps.get-versions.outputs.python-versions }}
      default-python: ${{ steps.get-versions.outputs.default-python }}
    steps:
      - uses: actions/checkout@v4

      - id: get-versions
        run: |
          BASE_VERSION=$(yq '.project.version' pipecat-base/pyproject.toml)
          PYTHON_VERSIONS=$(yq '.base.python_versions | @json' versions.yaml)
          DEFAULT_PYTHON=$(yq '.base.default_python' versions.yaml)

          if ! [[ $BASE_VERSION =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "Invalid base version format in pipecat-base/pyproject.toml"
            exit 1
          fi

          echo "base-version=$BASE_VERSION" >> $GITHUB_OUTPUT
          echo "python-versions=$PYTHON_VERSIONS" >> $GITHUB_OUTPUT
          echo "default-python=$DEFAULT_PYTHON" >> $GITHUB_OUTPUT
  build-base:
    runs-on: ubuntu-24.04-arm
    name: Build Base Images
    needs: find-images
    strategy:
      matrix:
        python-version: ${{ fromJson(needs.find-images.outputs.python-versions) }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: dailyco/pipecat-base
          tags: |
            type=raw,value=latest-py${{ matrix.python-version }}
            type=raw,value=${{ needs.find-images.outputs.base-version }}-py${{ matrix.python-version }}
            type=raw,value=latest,enable=${{ matrix.python-version == needs.find-images.outputs.default-python }}
            type=raw,value=${{ needs.find-images.outputs.base-version }},enable=${{ matrix.python-version == needs.find-images.outputs.default-python }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./pipecat-base
          platforms: linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            VERSION=${{ needs.find-images.outputs.base-version }}
            PYTHON_VERSION=${{ matrix.python-version }}
